node_modules
dist
coverage
*.log
.env*
build
public
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
.vscode-test
.nyc_output
lib-cov
logs
*.pid
*.seed
*.pid.lock
.grunt
bower_components
.lock-wscript
.compiled
.awcache
.tmp
.cache
package-lock.json
yarn.lock
pnpm-lock.yaml
